:root {
  --cr--blue: blue;
  --cr--white: #ffffff;
  --cr--red: rgb(255, 92, 92);
  --cr--green: #00a33e;
  --cr--gold: #ffb462;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none; */
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 13px;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-image: url(../assets/images/5083499.jpg); */
  /* background-image: url(../assets/images/5312742.jpg); */
  /* background-image: url(../assets/images/d839742a057e1d111d0373fa614de906.jpg); */
  background-image: url(../assets/images/red-mountains-morning-minimal-4k-dn.jpg);
  /* background-image: url(../assets/images/gradient-landscape-design-background_23-2149120069.avif); */
  background-size: cover;
}

.center {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.form {
  width: 30rem;
  background: rgba(0, 0, 0, 0.288);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-box {
  width: 100%;
  padding: 10px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.35rem;
  margin-top: 0.4rem;
  outline: 0;
}

/* ..........form..... */

::placeholder {
  opacity: 0.6;
}

input:focus {
  outline: 0.3rem solid var(--cr--blue);
}

.error input {
  outline: 0.3rem solid var(--cr--red);
}

.succes input {
  outline: 0.2rem solid var(--cr--green);
}

.error-message {
  color: var(--cr--red);
  visibility: hidden;
}

.error .error-message {
  visibility: visible;
  color: var(--cr--red);
}
/* @media only screen and (max-width: 500px) {
 
  html {
    font-size: 11px;
  }
} */

.btn1 {
  border: none;
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
}
.btn1::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.btn1.rounded1 {
  border-radius: 50px;
}
.btn1.rounded1 .text-green1 {
  font-weight: 900;
  mix-blend-mode: luminosity;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.btn1.rounded1::before {
  border-radius: 50px;
  width: 20%;
  background: rgb(182, 10, 64);
}
.btn1.rounded1:hover::before {
  background: var(--cr--gold);
  width: 100%;
}
