@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --cr--blue: blue;
  --cr--white: #ffffff;
  --cr--red: rgb(232, 0, 0);
  --cr--green: #37af65;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none; */
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 15px;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/5083499.jpg);
  /* background-image: url(../assets/images/5312742.jpg); */
  /* background-image: url(../assets/images/gradient-landscape-design-background_23-2149120069.avif); */
  background-size: cover;
}

.center {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.container {
  width: 30rem;
  background: rgba(0, 0, 0, 0.153);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-button {
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  background: var(--cr--green);
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.text-box {
  width: 100%;
  padding: 10px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.35rem;
  margin-top: 0.4rem;
  outline: 0;
}

/* ..........form..... */

::placeholder {
  opacity: 0.6;
}

.form-container input:focus {
  outline: 0.1rem solid var(--cr--blue);
}

.error input {
  border-color: var(--cr--red);
}

.succes input {
  border-color: var(--cr--green);
}

.error-message {
  color: var(--cr--red);
  visibility: hidden;
}

.error .error-message {
  visibility: visible;
  color: var(--cr--red);
}
